In [1]:
import pandas as pd

In [2]:
file = "InternationalGDPv1.xlsx"

In [3]:
df = pd.read_excel(file)

In [4]:
df.head()

,,Afghanistan,Albania,Algeria,American Samoa,Unnamed: 5,Andorra,Angola,Antigua and Barbuda,Argentina,...,Post-demographic dividend,Pre-demographic dividend,Small states,South Asia,South Asia (IDA & IBRD),Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (IDA & IBRD countries),Upper middle income,World
0,1980,"3,641,723,322.0",..,"42,346,380,830.8",..,NaN,"446,416,105.8","5,930,503,401.0","131,431,026.7","76,961,923,741.1",...,"8,541,374,599,328.6","222,633,133,729.6","52,920,809,050.9","235,962,175,079.4","235,962,175,079.4","281,014,235,675.3","280,871,358,819.8","281,014,235,675.3","1,658,117,418,563.1","11,336,590,644,916.5"
1,1981,"3,478,787,909.1",..,"44,348,672,667.9",..,NaN,"388,958,731.3","5,550,483,036.0","147,841,734.4","78,676,842,366.6",...,"8,637,928,003,047.8","309,460,300,718.2","54,682,380,537.3","250,139,444,088.2","250,139,444,088.2","388,072,421,659.7","387,927,210,056.8","388,072,421,659.7","1,792,584,208,500.0","11,727,603,962,156.2"
2,1982,..,..,"45,207,088,715.6",..,NaN,"375,895,956.4","5,550,483,036.0","164,369,278.9","84,307,486,836.7",...,"8,600,059,519,334.6","289,551,922,313.3","54,421,699,623.5","258,792,394,454.4","258,792,394,454.4","356,625,734,424.5","356,486,445,584.4","356,625,734,424.5","1,711,730,545,777.3","11,609,770,331,649.2"
3,1983,..,..,"48,801,369,800.4",..,NaN,"327,861,832.9","5,784,341,596.4","182,144,093.0","103,979,106,777.9",...,"8,924,955,878,224.4","231,702,670,397.5","52,649,730,943.7","273,951,470,823.6","273,951,470,823.6","313,903,816,535.0","313,763,854,086.1","313,903,816,535.0","1,626,146,012,027.4","11,840,065,192,866.6"
4,1984,..,"1,857,338,011.9","53,698,278,906.0",..,NaN,"330,070,689.3","6,131,475,065.2","208,372,846.3","79,092,001,998.0",...,"9,327,146,561,384.7","212,187,154,554.0","52,167,499,323.3","272,676,947,697.2","272,676,947,697.2","274,892,251,646.2","274,745,689,094.8","274,892,251,646.2","1,674,641,532,082.2","12,271,599,306,473.0"